html{
    scroll-behavior: smooth;
}
.back-video{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    height:100vh;
    width:100vw;
    object-fit: cover;
    margin-left: 0px;

    z-index:-1;
}
.intro{
    color:white;
    margin-top:400px;
    margin-left:60px;
    font-family:Science Gothic ;
    font-weight:bold;
    font-size:25px;

}

.iit{
    color:red;

}

.heading{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 40px;
}
#myimage{
    position:relative;
    float:right;
    width:30%;

    border-radius: 50px;
    margin-top: 0px;
    margin-right:30px;
    border-style:solid;
    border-color: red;
    border-width: 5px;;
}

.navbar{
    background-color: rgb(199, 16, 16);
    height: 80px;
    width: 100%;

    position:fixed;
    top:0;
    left:0;
    z-index: 1000;

    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}
.navlinks{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    gap:40px;
    font-weight: bold;
    font-size: 20px;

}
.navlinks li a{
    color:white;
    text-decoration: none;
}

#about-me1{
    color:white;
    margin-top:300px;
    margin-right:30px;
    font-weight:bold;
    font-size:30px;
    margin-left:30px;
    font-family: Stack Sans Notch;
    text-align: justify;
}

#projects{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:60px;
    color:red;
    text-align: center;




}
#projects a{
    text-decoration: none;
    color:red;

}

.gapshapeimg{
    width:90%;
    margin-top:100px;
    margin-left:40px;
    border-radius:20px ;
    padding-bottom: 20px;

}


#contact{
    color:white;
    margin-top:50px;
    font-family: bruno ace sc;
    font-size: 50px;
}
#project{

    color:white;
    margin-top:200px;
    font-family: bruno ace sc;
    font-size: 50px;

}
.contact-list{
    margin-top: 30px;
    margin-left:40px;
    display:flex;
    flex-wrap:wrap;
    gap:20px;

}
.contact-row{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:15px;
    color:white;
    font-size: 30px;
    text-decoration: none;
}

.icon-cirle:hover{
    color:grey;
}
@media(max-width:768px){
    .heading{
        flex-direction: column;
    }
    #myimage{
        position:relative;
        right:auto;
        top:auto;
        display:block;
        margin-left:auto;
        margin-right:auto;
        float:none;
        width:60%;



    }
    .intro{
        margin-top:50px ;
        margin-left:20px;
    }
    #projects{
        display:grid;
        grid-template-columns: 1fr;


    }
    .contact-list{
        display:grid;
        grid-template-columns: 1fr;

    }
    #about-me1{
        margin-left:10px;
        margin-right:10px;
    }
    .navlinks{
        gap:20px;
    }
    .gapshapeimg{
        width:60%;
        margin-left: auto;
        margin-right:auto;
    }
    .navlinks{
        flex-direction: column;
        gap:0px;
        size:15px;
        padding-left:15px;
        
    }
    .navbar{
        padding: 0 0px;
        height:90px;
    
    }

}